/* You can add global styles to this file, and also import other style files */


body {
    font-size: 300px;
}

.cuadradito {
    height: 30px;
    width: 30px;
    margin: 0;
    border: 2px solid black;
}